<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>

        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Persiapan</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/pembuatan/tabel/blok"><i class="fa fa-circle-o"></i> Pembuatan Tabel Blok</a></li>
          <li><a href="/pembuatan/tabel/nir"><i class="fa fa-circle-o"></i> Perubahan NIR</a></li>
          <li><a href="/pembuatan/tabel/znt"><i class="fa fa-circle-o"></i> Pembuatan Tabel Peta ZNT</a></li>
          <li><a href="../forms/editors.html"><i class="fa fa-circle-o"></i> Perubahan ZNT Massal</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-th"></i>
          <span>Pendataan </span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Charts</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>UI Elements</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i>
          <span>Forms</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
      </li>
      <li>
        <a href="../calendar.html">
          <i class="fa fa-calendar"></i>
          <span>Calendar</span>
          <small class="label pull-right bg-red">3</small>
        </a>
      </li>
      <li>
        <a href="../mailbox/mailbox.html">
          <i class="fa fa-envelope"></i>
          <span>Mailbox</span>
          <small class="label pull-right bg-yellow">12</small>
        </a>
      </li>
    </aside>
