</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="metisMenu/dist/metisMenu.min.js"></script>
<script src="datatables/media/js/jquery.dataTables.min.js"></script>
<script src="datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script src="datatables-responsive/js/dataTables.responsive.js"></script>

<!-- Morris Charts JavaScript -->
<script src="raphael/raphael-min.js"></script>
<script src="morrisjs/morris.min.js"></script>
<script src="js/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="dist/js/sb-admin-2.js"></script>
<script src="dist/js/app.js"></script>

</body>

</html>
